.header {
    background-color: #303c54;
    border-radius: 9px;
    border: 1px solid transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 3px 6px #00000029;
    color: aliceblue;
  }